# Solid Pod
SOLID_POD_URL=https://pod.example.org/username/
SOLID_IDP=https://login.example.org/
SOLID_CLIENT_ID=
SOLID_CLIENT_SECRET=

# Bluesky
BLUESKY_HANDLE=username.bsky.social
BLUESKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
